* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	font-variation-settings: "wght" 500, "SRFF" 0;
	cursor: none;
}
:root {
	--width: 300vw;
	--height: 1000vh;
	--color: black;
	--zoom: 1;
}
.container {
	width: 100vw;
	height: 100dvh;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.crosshair-x {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	width: 200vw;
	height: 1px;
	background-color: var(--color);
	z-index: 999;
	pointer-events: none;
	transition: opacity .2s, transform .5s, width .5s ease-in-out, background-color .5s;
}
.crosshair-x[data-focus="1"] {
	transform: translate(-50%, -50%) rotate(45deg);
	width: 25px;
}
.crosshair-y {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	background-color: var(--color);
	height: 200vmax;
	width: 1px;
	z-index: 999;
	pointer-events: none;
	transition: opacity .2s, transform .5s, height .5s ease-in-out, background-color .5s;
}
.crosshair-y[data-focus="1"] {
	transform: translate(-50%, -50%) rotate(45deg);
	height: 25px;
}
.content {
	position: absolute;
	left: calc(50% - calc(var(--width) / 2));
	top: calc(50% - calc(var(--height) / 2));
	width: var(--width);
	height: var(--height);
}

.map {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(var(--zoom));
}